<div class="container">
    <div class="btn">
        <a href="/main" class="btn btn-danger btn-sm">Go Back</a>
    </div>
    <div class="card mt-2" *ngFor="let post of singlePost">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.description}}</p>
      </div>  
    
    
    <div class="bnts">
        <div class="btn">
            <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
             data-bs-target="#commentModal" data-bs-whatever="@fat">Add Comment</button>
            <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Add Your Comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                    <div class="mb-3">
                        <label for="comment" class="form-label">comment</label>
                        <textarea type="text" class="form-control" required
                        [(ngModel)] = "comment" name="comment"></textarea>
                      </div>
                    </form>
                    
                </div>

                <div class="responeMessage">
                    <p *ngIf="isError" class="text-danger">{{message}}</p>
                    <p *ngIf="isSuccess" class="text-success">{{message}}</p>
                  </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    href="/postview">Close</button>
                    <button type="button" class="btn btn-primary"
                    (click)="createComment()" >Submit</button>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="comments">
    <h2 style="margin-left: 400px;">Comments</h2>
    <div class="card mt-2" *ngFor="let comment of commentList">
        <div class="card-body">
        <p class="card-title">{{comment.comment}}</p>
        <p class="card-text">{{comment.commentedDate | date}}</p>
    </div> 
</div>



