 <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title" >Cat Paw - Create Your Post</h5>
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Title</label>
                  <input type="email" class="form-control" required
                  [(ngModel)] = "title" name="title">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Description</label>
                  <input type="text" class="form-control" required
                   [(ngModel)] = "description" name="description">
                </div>

                  <div class="responeMessage">
                    <p *ngIf="isError" class="text-danger">{{message}}</p>
                    <p *ngIf="isSuccess" class="text-success">{{message}}</p>
                  </div>
               
              <button type="button" class="btn btn-danger" (click)="createPost()" >Publish</button>
              </form>
        </div>
      </div>
      <div class="btn">
        <a href="/main" class="btn btn-danger btn-sm">GoBack</a>
      </div>
    </div>




  